.active {
  border: 1px solid #F7B01C;
  background-color: #fff;
    width: 138px;
    height: 172px;
    box-shadow: #00000029 0 3px 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.block {
  background-color: gray;
}