.popup {
  color: #F7B01C;
}

::placeholder {
  color: #989898;
}
.description {
  padding-top: 20px;

  &__title {
    color: #989898;
    
  }

  &__data {
    width: 100%;
    height: 88px;
    border: 1px solid black;
    resize: none;
    margin-top: 5px;
  }

  textarea:focus {
    outline: none;
  }
}

