.popup {
  color: #F7B01C;
}

::placeholder {
  color: #989898;
}
.description {

  &__title {
    color: #989898;
  }

  &__data {
    width: 100%;
    height: 88px;
    border: 1px solid black;
    resize: none;
  }

  textarea:focus {
    outline: none;
  }
}