* {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 850px;
  margin: 0 auto;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  border-bottom: solid black 2px;
  
  &--description {
    padding: 25px 0;
  }

  img {
    padding: 0 14px 14px 0;
  }
}