* {
  font-family: 'Poppins', sans-serif;
  line-height: 25px;
  box-sizing: border-box;
}


.main {
  width: 1920px;
  display: flex;
  flex: row;
  justify-content: space-between;
  padding: 0 439px 0 278px;
  margin: 0 auto;

}

.container {
  max-width: 850px;
  margin: 0 auto;
  padding-top: 100px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  border-bottom: solid black 2px;
  line-height: 30px;
  
  &--description {
    padding: 25px 0;
    color: #989898;
  }

  img {
    padding: 0 14px 14px 0;
  }
}

.data {
  padding-top: 30px;
}

.line {
    padding: 18px 0;
    display: flex;
    justify-content: space-between;
  }

input {
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid black;
  min-width: 0;
}
:-ms-input-placeholder {
  color: #989898;
}

input:focus {
  outline: none;
}

.long {
  width: 390px;
  padding-bottom: 5px;
}

.short {
  width: 160px;
  padding-bottom: 5px;
}

.verylong {
  width: 615px;
  padding-bottom: 5px;
}

.big {
  width: 100%;
}